<?xml version="1.0"?>

<!-- map.launch -->
<launch>

    <node name="trajectory_follower" pkg="igvc_navigation" type="trajectory_follower" output="screen" launch-prefix="valgrind">
        <param name="topics/path" value="/trajectory"/>
        <param name="axle_length" value="0.52"/>
        <param name="loop_hz" value="25.0"/>
    </node>

</launch>
