<!-- localization.launch -->
<!--
    This file launches a localization node that
    fuses all movement data (wheel odometry, IMU,
    GPS) into one filtered model for increased
    accuracy of all the constituent parts.
    -->
<launch>

    <include file="$(find igvc_navigation)/launch/wheel_odometry.launch" />

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">

      <param name="frequency" value="30"/>

      <!-- delay time could be useful but defaults to 0 -->
      <param name="delay" value="0"/>

      <!-- does ardupilot account for magnetic declination? -->
      <param name="magnetic_declination_radians" value="0"/>

      <!-- this assumes we are in a planar environment -->
      <param name="two_d_mode" value="false"/>

      <!-- sets altitude to 0 -->
      <param name="zero_altitude" value="true"/>

      <!-- broadcasts the transform world_fram->utm -->
      <param name="broadcast_utm_transform" value="true"/>

      <!-- publishes the lat and long of the robot position -->
      <param name="publish_filtered_gps" value="true"/>

      <!-- if true uses yaw angle from the input odom source -->
      <param name="use_odometry_yaw" value="false"/>

      <!-- input remapping -->
      <remap from="/imu/data" to="/magnetometer"/>
      <remap from="/gps/fix" to="/fix"/>

      <!-- can do output remapping also -->

    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se">
      <param name="base_link_frame" value="base_footprint"/>
      <param name="frequency" value="30"/>
      <param name="two_d_mode" value="true"/>

      <!-- wheel odometry -->
      <param name="odom0" value="/wheel_odometry"/>
      <param name="odom0_differential" value="false"/>
      <!-- order of fused parameters:
               X, Y, Z,
               roll, pitch, yaw,
               X velocity, Y velocity, Z velocity,
               roll velocity, pitch velocity, yaw velocity,
               X acceleration, Y acceleration, Z acceleration -->
      <rosparam param="odom0_config">[false, false, false,
                               false, false, false,
                               true, true, false,
                               false, false, false,
                               false, false, false]</rosparam>

      <!-- IMU -->
      <param name="imu0" value="/imu"/>
      <!-- fused parameters same as above -->
      <rosparam param="imu0_config">[false, false, false,
                                 false, false, false,
                                 false, false, false,
                                 false,  false, true,
                                 true,  false,  false]</rosparam>
      <param name="imu0_differential" value="false"/>
      <param name="imu0_remove_gravitational_acceleration" value="false" />
      <param name="publish_acceleration" value="true" />

      <!-- gps from above navstat_transform -->
      <param name="odom1" value="/odometry/gps"/>
      <!-- fused parameters same as above -->
      <rosparam param="odom1_config">[true, true, false,
                               false, false, false,
                               false, false, false,
                               false, false, false,
                               false, false, false]</rosparam>
      <param name="odom1_differential" value="false"/>

      <rosparam param="process_noise_covariance">
                                             [.6,   0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    .6,   0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    .1,   0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    .1,   0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    .1,   0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    .3,   0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    .1,    0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     .1,    0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,    .1,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,   .1,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,   .1,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,   .5,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,   .1,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,   .1,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    .1]
      </rosparam>
      <rosparam param="initial_estimate_covariance">
                                             [1,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    1,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    1e-6,   0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    1e-6,   0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    1e-6,   0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    5,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    1e-6,    0,     0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     1e-6,    0,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,    1e-6,    0,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,   1e-6,    0,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,   1e-6,    0,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    1,    0,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,   1e-6,    0,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,   1e-6,    0,
                                              0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    1e-6]
      </rosparam>


    </node>

</launch>
