<!--
    Launches 2 localization instances:
    1. [localization_odom] provides a continuous pose estimate in the odom frame that drifts over time.
    2. [localization_map] provides an accurate pose estimate in the map frame subject to discrete jumps.

    Also launches navsat_transform node to publish gps data in the map frame and obtain
    a transform from UTM to odom.
-->
<launch>
    <include file="$(find igvc_navigation)/launch/wheel_odometry.launch" />

    <include file="$(find igvc_navigation)/launch/localization_nodes/localization_map.launch" />
    <include file="$(find igvc_navigation)/launch/localization_nodes/navsat_transform.launch" />
    <include file="$(find igvc_navigation)/launch/localization_nodes/localization_odom.launch" />

</launch>
