<launch>
    <include file="$(find igvc_navigation)/launch/localization.launch" />

    <!-- Map Node -->
    <node name="mapper" pkg="igvc_navigation" type="mapper" output="screen">
            <param name="topics" type="string" value="/scan/pointcloud /semantic_segmentation_cloud"/>
            <param name="occupancy_grid_length" type="int" value="50" />
            <param name="occupancy_grid_width" type="int" value="50" />
            <param name="occupancy_grid_resolution" type="double" value="0.2" />
            <param name="start_X" type="double" value="25"/>
            <param name="start_Y" type="double" value="25"/>
            <param name="debug" type="bool" value="true"/>
    </node>

    <arg name="plot_rviz" default="false"/>

    <group if="$(arg plot_rviz)">
        <node name="jessii_rviz" pkg="rviz" type="rviz" args="-d $(find igvc_rviz_plugins)/configs/jessii_conf.rviz"/>
    </group>

</launch>
