<launch>
    <!--<include file="$(find igvc_navigation)/launch/localization.launch" />-->

    <!-- Map Node -->
    <node name="mapper" pkg="igvc_navigation" type="mapper" output="screen" >
            <rosparam command="load" file="$(find igvc_navigation)/launch/octomap.yaml"/>
    </node>

    <arg name="plot_rviz" default="false"/>

    <group if="$(arg plot_rviz)">
        <node name="jessii_rviz" pkg="rviz" type="rviz" args="-d $(find igvc_rviz_plugins)/configs/jessii_conf.rviz"/>
    </group>

    <node name="back_circle" pkg="igvc_navigation" type="back_circle">
        <param name="width" type="double" value="10"/>
        <param name="length" type="double" value="5"/>
        <param name="grid_size" type="double" value="0.2"/>
        <param name="thickness" type="double" value="1"/>
        <param name="offset" type="double" value="5"/>
    </node>

</launch>
