<?xml version="1.0"?>

<!-- map.launch -->
<launch>
    <!-- Planner -->
    <node name="pose_slam_estimator" pkg="igvc_navigation" type="pose_slam_estimator" output="screen" >
        <!-- Trajectory publish rate. -->
        <param name="rate" type="double" value="10"/>

        <!-- TODO(alescontrela): Change these to match our actual IMU & GPS specs. -->
        <!-- Linear acceleration noise variance. -->
        <param name="accel_noise_sigma" type="double" value="0.0394"/>

        <!-- Angular velocity noise variance. -->
        <param name="gyro_noise_sigma" type="double" value="0.0205"/>

        <!-- Linear acceleration bias variance. -->
        <param name="accel_bias_rw_sigma" type="double" value="0.04905"/>
        
        <!-- Gyroscope bias variance. -->
        <param name="gyro_bias_rw_sigma" type="double" value="0.000145"/>

        <!-- Pose diagonal noise model values. rad, rad, rad, m, m, m. -->
        <rosparam param="pose_noise_model">[0.01, 0.01, 0.01, 0.3, 0.3, 0.3]</rosparam>

        <!-- Velocity diagonal noise model values. m/s, m/s, m/s. -->
        <param name="velocity_noise_model" type="double" value="0.1"/>

        <!-- Bias diagonal noise model values. -->
        <param name="bias_noise_model" type="double" value="0.001"/>

        <!-- GPS diagonal noise model values. -->
        <param name="gps_noise_model" type="double" value="0.4"/>

    </node>
</launch>
