<!-- waypoint_source.launch -->

<launch>

    <node name="waypoint_source" pkg="igvc_navigation" type="waypoint_source" output="screen" >
        <!-- file to load waypoints from -->
        <param name="file" value="$(find igvc_navigation)/../sandbox/waypoints/u_test.csv" />
<!--        <param name="file" value="$(find igvc_navigation)/../sandbox/waypoints/comp/south.csv" />-->
        <!-- minimum distance in meters before a waypoint is considered reached -->
        <param name="waypoint_threshold" type="double" value="0.1" />
    </node>
</launch>
