pointcloud_filter:
    topic:
        input: "velodyne_points"
        transformed: "lidar/transformed"
        occupied: "lidar/occupied"
        free: "lidar/free"
    back_filter:
        start_angle: -2.0
        end_angle: 2.0
    radius_filter:
        radius_squared: 225
    ground_filter:
        height_min: 0.4
        height_max: 1.2
    raycast_filter:
        min_range: 2.0
        end_distance: 15
        angular_resolution: 0.02
        start_angle: -2.0
        end_angle: 2.0
    fast_segment_filter:
        ground_topic: "/ground"
        nonground_topic: "/nonground"
        num_segments: 360               # Number of pie slices to break the world into
        error_t: .1                     # Threshold on the error for line models. Higher threshold means longer lines with more points, smller means shorter lines with less points
        slope_t: .6                     # Threshold on slope for defining if a line is ground or not
        dist_t: .3                      # Threshold on height of a line. If all points in a line are below this, then the line is ground
        debug_viz: true                 # If true, debug visualization is published to /pointcloud_filter_node/pointcloud_filter/Lines_array
    frames:
        base_footprint: "base_footprint"
    timeout_duration: 0.5
