SUBSYSTEM == "tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303",ATTRS{bcdDevice}=="0300", SYMLINK+="igvc_lidar"
SUBSYSTEM == "tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010",ATTRS{bcdDevice}=="0001", SYMLINK+="igvc_imu"
KERNEL=="ttyACM?", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{serial}=="5533233313035190C162",SYMLINK+="igvc_motor_arduino"
KERNEL=="ttyACM?", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{serial}=="7413234343035191E092",SYMLINK+="igvc_light_arduino"
KERNEL=="ttyUSB?", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{bcdDevice}=="0202", SYMLINK+="igvc_lidar"
KERNEL=="ttyUSB?", ATTRS{idVendor}=="05ad", ATTRS{idProduct}=="0fba", ATTRS{bcdDevice}=="0300", SYMLINK+="igvc_gps"
KERNEL=="3-1", ATTRS{idVendor}=="19a2", ATTRS{idProduct}=="5001", ATTRS{bcdDevice}=="0109", MODE="0666", SYMLINK+="igvc_lidar"
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="19a2", ATTR{idProduct}=="5001", GROUP="plugdev"
