SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", ATTRS{bcdDevice}=="1000", SYMLINK+="igvc_lidar", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="A105BMON", SYMLINK+="igvc_imu"
KERNEL=="video?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0825", ATTRS{bcdDevice}=="0012", ATTRS{serial}=="21AD0B10", SYMLINK+="igvc_usb_cam_right"
KERNEL=="video?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0825", ATTRS{bcdDevice}=="0012", ATTRS{serial}=="DA101B10", SYMLINK+="igvc_usb_cam_left"
KERNEL=="video?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", ATTRS{bcdDevice}=="0011", ATTRS{serial}=="6E5D96EF", SYMLINK+="igvc_usb_cam_center"
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303",ATTRS{bcdDevice}=="0300", SYMLINK+="igvc_gps"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{serial}=="95437313335351119031", SYMLINK+="igvc_light_arduino"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2a03", ATTRS{idProduct}=="0043", ATTRS{serial}=="955303436343511031F1", SYMLINK+="igvc_motor_arduino"
