SUBSYSTEM == "tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303",ATTRS{bcdDevice}=="0300", SYMLINK+="igvc_lidar"
SUBSYSTEM == "tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010",ATTRS{bcdDevice}=="0001", SYMLINK+="igvc_imu"
KERNEL=="ttyACM?", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{serial}=="74934303030351909112",SYMLINK+="igvc_motor_arduino"
KERNEL=="ttyACM?", ATTRS{idVendor}=="2a03", ATTRS{idProduct}=="0043", ATTRS{serial}=="7543033313735121E0D1",SYMLINK+="igvc_light_arduino"
KERNEL=="ttyUSB?", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{bcdDevice}=="0202", SYMLINK+="igvc_lidar"
KERNEL=="ttyUSB?", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{bcdDevice}=="0400", SYMLINK+="igvc_gps"
KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{bcdDevice}=="0600", SYMLINK+="igvc_imu"
KERNEL=="video?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0825", ATTRS{bcdDevice}=="0012", ATTRS{serial}=="AF39ABE0", SYMLINK+="igvc_usb_cam_center"
KERNEL=="video?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", ATTRS{bcdDevice}=="0011", ATTRS{serial}=="953A2A1F", SYMLINK+="igvc_usb_cam_right"
KERNEL=="video?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", ATTRS{bcdDevice}=="0011", ATTRS{serial}=="CACC582F", SYMLINK+="igvc_usb_cam_left"
KERNEL=="3-1", ATTRS{idVendor}=="19a2", ATTRS{idProduct}=="5001", ATTRS{bcdDevice}=="0109", MODE="0666", SYMLINK+="igvc_lidar"
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="19a2", ATTR{idProduct}=="5001", GROUP="plugdev"
