local_costmap:
    global_frame: odom
    robot_base_frame: base_link
    plugins:
        - {name: lidar_layer,     type: "lidar_layer::LidarLayer"}
#        - {name: line_layer,     type: "line_layer::LineLayer"}
    publish_frequency: 5.0
    footprint: [[0.4,0.4],[-0.4,0.4],[-0.4,-0.4],[0.4,-0.4]]
    width: 20
    height: 20
    origin_x: -10
    origin_y: -10
    track_unknown_space: false
    unknown_cost_value: 30
    static_map: false
    rolling_window: true
    resolution: 0.1
lidar_layer:
    map:
        frame_id: "odom"
        resolution: 0.1
        length_x: 200
        length_y: 200
        occupied_threshold: 0.5
        max_occupancy: 0.99
        min_occupancy: 0.01
        costmap_topic: "/mapper/debug/lidar/costmap"
        debug:
            map_topic: "/mapper/debug/lidar/gridmap"
            enabled: true
    lidar:
        occupied_topic: "/lidar/occupied"
        free_topic: "/lidar/free"
        sensor_model:
            scan_hit: 0.9
            scan_miss: 0.8
            free_miss: 0.7
            hit_exponential_coeff: 0.01
line_layer:
    map:
        frame_id: "odom"
        resolution: 0.1
        length_x: 200
        length_y: 200
        occupied_threshold: 0.5
        max_occupancy: 0.99
        min_occupancy: 0.01
        debug:
            map_topic: "/mapper/debug/lines/gridmap"
            enabled: false
    /cam/center:
        topics:
            raw_image_ns: "/raw"
            raw_image: "/image"
            segmented_image_ns: "/segmented"
            segmented_image: "/image"
        probabilities:
            miss: 0.7
            hit: 0.7
            miss_exponential_coeff: 0.05
            miss_angle_exponential_coeff: 5
            hit_exponential_coeff: 0.05
        debug:
            line_topic: "/line_layer/debug/center/line"
            nonline_topic: "/line_layer/debug/center/nonline"
    /cam/left:
        topics:
            raw_image_ns: "/raw"
            raw_image: "/image"
            segmented_image_ns: "/segmented"
            segmented_image: "/image"
        probabilities:
            miss: 0.7
            hit: 0.7
            miss_exponential_coeff: 0.05
            miss_angle_exponential_coeff: 5
            hit_exponential_coeff: 0.05
        debug:
            line_topic: "/line_layer/debug/left/line"
            nonline_topic: "/line_layer/debug/left/nonline"
    /cam/right:
        topics:
            raw_image_ns: "/raw"
            raw_image: "/image"
            segmented_image_ns: "/segmented"
            segmented_image: "/image"
        probabilities:
            miss: 0.7
            hit: 0.7
            miss_exponential_coeff: 0.05
            miss_angle_exponential_coeff: 5
            hit_exponential_coeff: 0.05
        debug:
            line_topic: "/line_layer/debug/right/line"
            nonline_topic: "/line_layer/debug/right/nonline"
    projection:
        length_x: 30
        length_y: 30
        line_closing_kernel_size: 5
        freespace_closing_kernel_size: 5
