local_costmap:
    global_frame: odom
    plugins:
        - {name: wrapper_layer,     type: "wrapper_layer::WrapperLayer"}
        - {name: inflation_layer,   type: "costmap_2d::InflationLayer"}
    publish_frequency: 5.0
    robot_radius: 1.0
    width: 200
    height: 200
    origin_x: -100
    origin_y: -100
    track_unknown_space: true
    unknown_cost_value: 30
    static_map: false
    rolling_window: false
    resolution: 0.2
    inflation:
        inflation_radius: 0.35
