local_costmap:
    global_frame: odom
    plugins:
        - {name: lidar_layer,     type: "lidar_layer::LidarLayer"}
        - {name: line_layer,     type: "line_layer::LineLayer"}
    publish_frequency: 5.0
    robot_radius: 1.0
    width: 200
    height: 200
    origin_x: -100
    origin_y: -100
    track_unknown_space: true
    static_map: false
    rolling_window: false
    resolution: 0.1
    inflation:
        inflation_radius: 0.35
lidar_layer:
    map:
        frame_id: "odom"
        resolution: 0.1
        length_x: 200
        length_y: 200
        occupied_threshold: 0.5
        max_occupancy: 0.99
        min_occupancy: 0.01
        debug:
            map_topic: "/mapper/debug/lidar/gridmap"
    lidar:
        occupied_topic: "/lidar/occupied"
        free_topic: "/lidar/free"
        sensor_model:
            scan_hit: 0.9
            scan_miss: 0.8
            free_miss: 0.7
            hit_exponential_coeff: 0.01
line_layer:
    map:
        frame_id: "odom"
        resolution: 0.1
        length_x: 200
        length_y: 200
        occupied_threshold: 0.5
        max_occupancy: 0.99
        min_occupancy: 0.01
        debug:
            map_topic: "/mapper/debug/lines/gridmap"
    /cam/center:
        topics:
            raw_image_ns: "/raw"
            raw_image: "/image"
            segmented_image_ns: "/segmented"
            segmented_image: "/image"
        probabilities:
            miss: 0.7
            hit: 0.7
            miss_exponential_coeff: 0.05
            miss_angle_exponential_coeff: 5
            hit_exponential_coeff: 0.05
        debug:
            line_topic: "/line_layer/debug/line"
            nonline_topic: "/line_layer/debug/nonline"
    projection:
        length_x: 30
        length_y: 30
        line_closing_kernel_size: 5
        freespace_closing_kernel_size: 5
