<?xml version="1.0"?>

<!-- rosbag.launch -->
<!--
    This file will launch the rosbag recorder and will log all topics
    excluding some of the duplicate image_transport topics.
    -->
<launch>
    <!-- bag information -->
    <arg name="CHASSIS_NAME" default="swervi"/>
    <arg name="LOCATION" default="parking_lot"/>
    <node pkg="rosbag" type="record" name="record" output="screen"
          args="-a -x '(.*)cam/(.*)*' cam/center/raw/image/compressed cam/center/raw/camera_info
 cam/left/raw/image/compressed /cam/left/raw/camera_info
 cam/right/raw/image/compressed /cam/right/raw/camera_info
 -o $(find igvc_sandbox)/$(arg CHASSIS_NAME)_$(arg LOCATION)" />
</launch>
