<?xml version="1.0"?>

<!-- rosbag.launch -->
<!--
    This file will launch the rosbag recorder and will log all topics
    excluding some of the duplicate image_transport topics.
    -->
<launch>
    <node pkg="rosbag" type="record" name="record" output="screen"
          args="-a -x '(.*)image(.*)*' usb_cam_center/image_raw/compressed usb_cam_left/image_raw/compressed usb_cam_right/image_raw/compressed -o $(env HOME)/data/$(env CHASSIS_NAME)_$(env LOCATION)" />
</launch>
