[submodule "external/rj-ros-common"]
	path = external/rj-ros-common
	url = https://github.com/RoboJackets/rj-ros-common
[submodule "external/elevation_mapping"]
	path = external/elevation_mapping
	url = https://github.com/ANYbotics/elevation_mapping
[submodule "external/kindr_ros"]
	path = external/kindr_ros
	url = https://github.com/ANYbotics/kindr_ros
