<launch>
    <param name="/elevation_mapping/sensor_frame_id" value="lidar"/>

    <node pkg="tf" type="static_transform_publisher" name="elevation_mapping_center_broadcaster" args="2 0 0 0 0 0 base_footprint elevation_mapping_center 100" required="true"/>
    <node pkg="igvc_perception" type="robot_pose_type_converter" name="robot_pose_type_converter" required="true"/>

    <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen" required="true">
        <rosparam command="load" file="$(find igvc_perception)/config/elevation_mapping.yaml"/>
    </node>

    <include file="$(find igvc_perception)/launch/elevation_map_visualization.launch"/>
</launch>
