<launch>

    <node name="multiclass_segmentation" pkg="igvc_perception" type="multiclass_segmentation.py" output="screen">

        <rosparam param="camera_names">["/cam/center", "/cam/left", "/cam/right"]</rosparam>

        <param name="model_path" value="$(find igvc_sandbox)/models/best.pth" />

        <!-- Use cpu instead of GPU (will run very slowly). -->
        <param name="force_cpu" value="true" />

        <!-- Do not have backslash before the start of string-->
        <param name="segmentation_topic" value="segmented/image" />

        <!--Encoder Backbone-->
        <param name="encoder" value="efficientnet-b3"/>
        <param name="encoder_weights" value="imagenet"/>

        <!-- These sizes must match the model input dimensions. -->
        <param name="image_resize_width" value="416" />
        <param name="image_resize_height" value="416" />
    </node>

</launch>