<!-- vision.launch -->
<!--
    This file launches a vision node that uses a CNN to detect lines.
-->
<launch>
    <node name="cnn" pkg="igvc_perception" type="cnn.py" output="screen" />

    <rosparam param="camera_names">["usb_cam"]</rosparam>
    <param name="image_resize_width" value="300" />
    <param name="image_resize_height" value="225" />

    <param name="model_path" value="" />
    <param name="force_cpu" value="false" />

</launch>
