<?xml version="1.0" encoding="UTF-8"?>
<!--      _   _   _
         | | | | (_)
 ___  ___| |_| |_ _ _ __   __ _ ___
/ __|/ _ \ __| __| | '_ \ / _` / __|
\__ \  __/ |_| |_| | | | | (_| \__ \
|___/\___|\__|\__|_|_| |_|\__, |___/
                           __/ |
                          |___/
-->
<Config>

    <!-- ON/OFF -->
    <doMapping>  001 </doMapping>
    <doVision>   001 </doVision>
    <useMotors>  000 </useMotors>
    <useEncoders>000 </useEncoders>

	<!-- Guppy Misc Settings -->
	<useFirewireCamera>001</useFirewireCamera>  <!-- set to 0 to load video  or cvcam--->
	<gain>19</gain>
	<shutter>130</shutter>
	<gamma>00</gamma>
	<auto_gain_and_shutter>001</auto_gain_and_shutter>

	<!-- Guppy White Balance Settings -->
	<blue>590</blue> <!-- 602 old 646 -->
	<red>540</red>   <!-- 517 old 528 -->

	<!-- Vision Processing Settings -->
	<satThresh>70</satThresh>     <!-- (hsv only) higher => more noise/sensitivity -->
	<hueThresh>35</hueThresh>     <!-- (hsv only) higher => more noise/sensitivity -->
	<robotWidth>15</robotWidth>   <!-- lower => we can squeeze through more -->
	<doTransform>01</doTransform> <!-- 1 => use graphics card transformations -->
	<doAdaptive>01</doAdaptive>   <!-- 1 => use use roi box to drive on colors inside it | 0 => use hsv -->

	<maxDiff>45</maxDiff>          <!-- DEPRICATED! lower => more noise in thresh image -->
	<whiteThresh>200</whiteThresh> <!-- DEPRICATED! values above this number in blue channel are considered white lines -->


	<boxPadding>50</boxPadding>  <!-- lower => wider box -->
	<k_roi>0.1000</k_roi>         <!-- higher => adjust to color in red rectangle faster -->

	<rangeR>1.10</rangeR>  <!-- Settings for how far from the average -->
	<rangeG>1.10</rangeG>  <!--  normalized colors inside the roi box. -->
	<rangeB>1.09</rangeB>  <!--  Must be greater than 1.0 (fraction part is the percent from average) -->


	<!-- Robot Misc Settings -->
    <defaultView>03</defaultView>       <!-- gui slider bar starting value -->
	<k_motors>0.725</k_motors>           <!-- lower => smoother motor cotrol (averages new motor commands) -->
    <motorsMaxSpeed>75</motorsMaxSpeed> <!-- max motor output [0-255] -->

    <!-- Mapping Settings -->
    <maxFeatures>76</maxFeatures>           <!-- max number for feature corners to find -->
    <numFramesBack>02</numFramesBack>       <!-- frames between matching points/features ( >=2 )-->
    <maxFeatureShift>1000</maxFeatureShift>   <!-- max allowed feature point movement (in pixels) -->
    <moveTo127>001</moveTo127>                <!-- slowly forget worldmap history -->
    <meters_per_pixel>0.02</meters_per_pixel>



    <!--
	<></>
	<></>
	-->
    <!-- Comment -->
    <!--  -->

</Config>
