<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mypackage.FriendTracker"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FriendTracker"
                  android:label="@string/app_name">
           	<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
		<activity android:name=".LoginScreen"
				  android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> 
		 
		<activity android:name=".ViewHistory"
                  android:label="@string/app_name">
           	<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> 
		 
		<receiver android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		 
		<service android:name=".FriendTrackerControl">
			<intent-filter>
				<action android:name="mypackage.FriendTracker.startatboot.FriendTrackerControl" />
			</intent-filter>
		</service>
		 
	    <provider android:name=".FriendProvider" 
	    		  android:authorities=".FriendProvider">
	    </provider>
		 
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>