<?xml version="1.0"?>

<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find igvc_gazebo)/config/igvc_joint_control.yaml" command="load"/>

  <!-- load controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="$(find igvc_gazebo)/config/igvc_joint_control.yaml"/>

  <node name="igvc_control" pkg="igvc_gazebo" type="control">
  </node>

</launch>
