<?xml version="1.0"?>

<launch>
    <arg name="model" default="0"/>
    <arg name="track" default="0"/>
    <arg name="cmd_timeout" default="0.5"/>
    <arg name="gpu" default="false"/>

    <!-- Vehicle pose -->
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.4"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="0"/>

    <include file="$(find igvc_gazebo)/launch/simulation_low.launch">
        <arg name="world_name" value="$(find igvc_description)/urdf/worlds/ramp_lane.world"/>
        <arg name="waypoint_folder_path" value="$(find igvc_gazebo)/config"/>
        <arg name="waypoint_file_name" value="ramp_lane.csv"/>

        <arg name="model" value="$(arg model)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
        <arg name="gpu" value="$(arg gpu)"/>
        <arg name="cmd_timeout" value="$(arg cmd_timeout)"/>
    </include>
</launch>
