<!-- camera.launch -->
<!--
    
    -->
<launch>
    <!-- Camera Node -->
	<node name="bumblebee2" pkg="igvc" type="bumblebee2" />

	<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
		<remap from="stereo/left/image_raw" to="left/image_raw" />
		<remap from="stereo/right/image_raw" to="right/image_raw" />
	</node>
	
    
    
</launch>
