<!-- line_detector.launch -->
<launch>
    <node name="linedetectorcenter" pkg="igvc" type="linedetector" output="screen" >
	<param name="topic" type="string" value="/usb_cam_center"/>
    </node> -->
<!--
    <node name="linedetectorleft" pkg="igvc" type="linedetector" output="screen" >
	<param name="topic" type="string" value="/usb_cam_left"/>
    </node> 
    <node name="linedetectorright" pkg="igvc" type="linedetector" output="screen" >
	<param name="topic" type="string" value="/usb_cam_right"/>
    </node>
-->
</launch>
