<!-- line_detector.launch -->
<launch>
    <node name="linedetectorcenter" pkg="igvc" type="linedetector" output="screen" >
		<param name="topic" type="string" value="/usb_cam_center"/>
		<param name="freq" type="int" value="5"/>
		<rosparam file="$(find igvc)/../sandbox/detectors_config_gazebo.yaml" />
    </node>
<!--
    <node name="linedetectorleft" pkg="igvc" type="linedetector" output="screen" >
	<param name="topic" type="string" value="/usb_cam_left"/>
    </node> 
    <node name="linedetectorright" pkg="igvc" type="linedetector" output="screen" >
	<param name="topic" type="string" value="/usb_cam_right"/>
    </node>
-->
</launch>
