<?xml version="1.0"?>
<!--Dist from center of LIDAR 
		to front: 3.625"
		to back: 26.25"
		to left: 15.5"
		to right: 14.5"
	Woodi Dimensions:
		Left to Right: 30"
		Front to Back: 30"
-->

<launch>
  <node name="filter_lidar" pkg="igvc" type="filter_lidar" output="screen">
      <param name="x_offset" value=".29"/>
      <param name="y_offset" value=".03"/>
      <param name="x_size" value=".4"/>
      <param name="y_size" value=".4"/>
      <param name="max_dist" value="15"/>
      <param name="back_buffer" value =".61"/>
    </node>
</launch>
