<!-- igvc.launch -->
<!--
    This file will launch the default node configuration for
    a competition run. All sensors, hardware-interface, and generic state nodes are launched here.
    -->
<launch>
    <include file="$(find igvc)/launch/robot_state_publisher.launch" />
    
    <node name="light_controller" pkg="igvc" type="light_controller" />
    
    <node name="motor_controller" pkg="igvc" type="motor_controller" />

    <include file="$(find igvc)/launch/gps.launch" />
    
    <node name="ardupilot" pkg="igvc" type="ardupilot" />
    
    <include file="$(find igvc)/launch/camera.launch" />
    
</launch>
