<!-- line_detector.launch -->
<!-- Usage: "roslaunch igvc line_detector.launch camera:=[left,right,center]" -->
<launch>

    <arg name="camera" default="center" />
    <arg name="configfile" value="$(find igvc)/../sandbox/detectors_config_gazebo.yaml" />

    <group if="$(eval 'center' in arg('camera'))">
        <node name="linedetectorcenter" pkg="igvc" type="linedetector" output="screen" >
    		<param name="topic" type="string" value="/usb_cam_center"/>
    		<param name="freq" type="int" value="30"/>
    		<rosparam file="$(arg configfile)" />
        </node>
    </group>

    <group if="$(eval 'left' in arg('camera'))">
        <node name="linedetectorleft" pkg="igvc" type="linedetector" output="screen" >
            <param name="topic" type="string" value="/usb_cam_left"/>
            <param name="freq" type="int" value="5"/>
            <rosparam file="$(arg configfile)" />
        </node>
    </group>

    <group if="$(eval 'right' in arg('camera'))">
        <node name="linedetectorright" pkg="igvc" type="linedetector" output="screen" >
            <param name="topic" type="string" value="/usb_cam_right"/>
            <param name="freq" type="int" value="5"/>
            <rosparam file="$(arg configfile)" />
        </node>
    </group>

</launch>
