<!-- map.launch -->
<launch>
    <include file="$(find igvc)/launch/localization.launch" />

    <!-- Map Node -->
    <node name="mapper" pkg="igvc" type="global_mapper" output="screen">
            <param name="topics" type="string" value="/scan/pointcloud /usb_cam_center/line_cloud /usb_cam_left/line_cloud /usb_cam_right/line_cloud /pothole_cloud"/>
            <param name="max_correspondence_distance" type="double" value="0.5"/>
            <param name="max_iterations" type="int" value="30"/>
    </node>

</launch>
