<robot name="test_platform">
    
    <link name="base_footprint" />
    <link name="base_link" />
    <link name="gps" />
    <link name="imu" />
    <link name="lidar" />
    <link name="usb_cam_center" />
    <link name="usb_cam_left" />
    <link name="usb_cam_right" />
    
    <joint name="groundToDriveWheelMidpoint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.17" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>
    
    <joint name="gps" type="fixed">
        <parent link="base_link"/>
        <child link="gps"/>
        <origin xyz="0 0.28 0.30" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>
    
    <joint name="imu" type="fixed">
        <parent link="base_link"/>
        <child link="imu"/>
        <origin xyz="0 -0.18 1.22" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>
    
    <joint name="usb_cam_center" type="fixed">
        <parent link="base_link"/>
        <child link="usb_cam_center"/>
        <origin xyz="-0.0549131 -.117477 1.50282" rpy="-1.89853 -.0193608 0.0194719"/>
	<!-- <origin xyz="-.303217 -0.0427659 1.46513" rpy="-1.80974 -0.0737425 -0.0983974"/> -->
        <axis xyz="0 0 0"/>
    </joint>


    <joint name="usb_cam_left" type="fixed">
        <parent link="base_footprint"/>
        <child link="usb_cam_left"/>
        <!-- <origin xyz="-.3492 -0.18 1.3081" rpy="-2.8798 -.9250 1.7977"/> TOTES GOOD ENOUGH -->
	<origin xyz="-0.115369 -0.0331363 1.82578" rpy="-2.89953 -.814402 1.69177"/>
        <axis xyz="0 0 0"/>
    </joint>

    <joint name="usb_cam_right" type="fixed">
        <parent link="base_footprint"/>
        <child link="usb_cam_right"/>
        <origin xyz=".348438 -0.190612 1.3478" rpy="-2.85843 0.900295 -1.58223"/>
        <!-- <origin xyz=".3492 -0.18 1.3081" rpy="-2.873 -.875 1.585"/> -->
        <axis xyz="0 0 0"/>
    </joint>


    
    <joint name="lidar" type="fixed">
        <parent link="base_footprint"/>
        <child link="lidar"/>
<!--        <origin xyz="0 0.83 0.455" rpy="0 0 1.5707"/> -->
        <origin xyz="0 0.83 0.0" rpy="0 0 1.5707"/>
        <axis xyz="0 0 0"/>
    </joint>
</robot>
