<!-- map.launch -->
<launch>
    <!-- Waypoints -->
    <include file="$(find igvc)/launch/waypoint_source.launch" />

    <!-- Planner -->
    <node name="path_planner" pkg="igvc" type="pathplanner" output="screen" />

    <!-- Follower -->
    <node name="path_follower" pkg="igvc" type="path_follower" output="screen" />

</launch>
