<?xml version="1.0"?>

<!-- map.launch -->
<launch>
    <!-- Waypoints -->
    <include file="$(find igvc)/launch/waypoint_source.launch" />

    <!-- Planner -->
    <node name="path_planner" pkg="igvc" type="pathplanner" output="screen" >
          <param name="goal_threshold" type="double" value="1.0"/>
          <param name="threshold" type="double" value="0.5"/>
          <param name="probability_theshold" type="double" value="0.7"/>
          <param name="point_turns_enabled" type="bool" value="false"/>
          <param name="reverse_enabled" type="bool" value="false"/>

          <!-- points are weighted based off of cloest obstacle -->
          <!-- weight = length * (alpha * exp((threshold - dist)*beta) + 1 -->
          <param name="alpha" type="double" value="4"/>
          <param name="beta" type="double" value="5"/>
    </node>

    <!-- Follower -->
    <node name="path_follower" pkg="igvc" type="path_follower" output="screen" />

</launch>
