<!-- pothole_detector.launch -->
<launch>
    <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node> -->

    <node name="potholedetector" pkg="igvc" type="potholedetector" output="screen"/>
</launch>
