<!-- igvc.launch -->
<!--
    This file will launch the default node configuration for
    a competition run. All sensors, hardware-interface, and generic state nodes are launched here.
    -->
<launch>
    <!-- TF -->
    <include file="$(find igvc)/launch/robot_state_publisher.launch" />

    <!-- LIGHT CONTROLLER -->
    <node name="light_controller" pkg="igvc" type="light_controller" output="screen"/>

    <!-- MOTOR CONTROLLER -->
    <node name="motor_controller" pkg="igvc" type="motor_controller" output="screen">
          <param name="p_l" type="double" value="12.0"/>
          <param name="p_r" type="double" value="12.0"/>
          <param name="d_l" type="double" value="0.5"/>
          <param name="d_r" type="double" value="0.5"/>
          <param name="i_r" type="double" value="0.0"/>
          <param name="i_l" type="double" value="0.0"/>
          <param name="messages_to_read" type="int" value="3"/>
    </node>

    <!-- GPS -->
    <include file="$(find igvc)/launch/gps.launch" />

    <!-- CAMERA -->
    <include file="$(find igvc)/launch/camera.launch">
        <arg name="camera" value="center" />
    </include>

    <!-- LIDAR -->
    <include file="$(find igvc)/launch/lidar.launch" />

    <!-- IMU -->
    <include file="$(find igvc)/launch/imu.launch" />

</launch>
