<?xml version="1.0" encoding="UTF-8"?>

<!-- Comment -->
<!--  -->

<Config>

	<!-- Guppy Misc Settings -->
	<gain>32</gain>
	<shutter>2048</shutter>
	<gamma>0</gamma>
	<auto_gain_and_shutter>0</auto_gain_and_shutter>

	<!-- Guppy White Balance Settings -->	
	<red>523</red>
	<blue>646</blue>

	<!-- Vision Processing Settings -->
	<satThresh>65</satThresh> <!-- higher => more noise/sensitivity -->
	<hueThresh>25</hueThresh> <!-- higher => more noise/sensitivity -->
	<doTransform>1</doTransform>
	<robotWidth>30</robotWidth>
	
	<></>
	<></>
	<></>
	<></>

</Config>
