<?xml version="1.0" encoding="UTF-8"?>

<!--  -->
<!-- Comment -->
<!--  -->

<!-- !!! Robot.h controls use of USB vs. 1394 cameras !!! -->
<!-- !!! Robot.h controls use of USB vs. 1394 cameras !!! -->
<!-- !!! Robot.h controls use of USB vs. 1394 cameras !!! -->

<Config>

	<!-- Guppy Misc Settings -->
	<gain>32</gain>
	<shutter>2048</shutter>
	<gamma>0</gamma>
	<auto_gain_and_shutter>1</auto_gain_and_shutter>

	<!-- Guppy White Balance Settings -->
	<red>528</red>
	<blue>646</blue>

	<!-- Vision Processing Settings -->
	<satThresh>70</satThresh>     <!-- higher => more noise/sensitivity -->
	<hueThresh>35</hueThresh>     <!-- higher => more noise/sensitivity -->
	<robotWidth>20</robotWidth>   <!-- lower => we can squeeze through more -->
	<doTransform>01</doTransform> <!-- 1 => use graphics card transformations -->
	<doAdaptive>01</doAdaptive>   <!-- 1 => use use roi box to drive on colors inside it -->
	<maxDiff>50</maxDiff>         <!-- lower => more noise in thresh image -->
	<boxPadding>95</boxPadding>   <!-- lower => wider box -->

	<!-- Robot Misc Settings -->
	<_k>0.150</_k>                   <!-- lower => more smooth motor cotrol (averages new motor commands) -->
    <defaultView>01</defaultView>   <!-- gui slider bar starting value -->
    <motorsMaxSpeed>85</motorsMaxSpeed> <!-- max motor output [0-255] -->

    <!-- Mapping Settings -->
    <maxFeatures>40</maxFeatures>           <!-- max number for feature corners to find -->
    <numFramesBack>03</numFramesBack>       <!-- frames between matching points/features -->
    <maxFeatureShift>9</maxFeatureShift>    <!-- max allowed feature point movement (in pixels) -->

    <!-- ON/OFF -->
    <doMapping>0</doMapping>
    <useMotors>1</useMotors>
    <doVision>1</doVision>


    <!--
	<></>
	<></>
	<></>
	-->

</Config>
