<?xml version="1.0" encoding="UTF-8"?>
<!--
          _   _   _
         | | | | (_)
 ___  ___| |_| |_ _ _ __   __ _ ___
/ __|/ _ \ __| __| | '_ \ / _` / __|
\__ \  __/ |_| |_| | | | | (_| \__ \
|___/\___|\__|\__|_|_| |_|\__, |___/
                           __/ |
                          |___/
-->
<Config>

	<!-- Guppy Misc Settings -->
	<useFirewireCamera>1</useFirewireCamera>  <!-- set to 0 to load video -->
	<gain>16</gain>
	<shutter>150</shutter>
	<gamma>0</gamma>
	<auto_gain_and_shutter>1</auto_gain_and_shutter>

	<!-- Guppy White Balance Settings -->
	<red>517</red>   <!-- old 528 -->
	<blue>602</blue> <!-- old 646 -->

	<!-- Vision Processing Settings -->
	<satThresh>70</satThresh>     <!-- higher => more noise/sensitivity -->
	<hueThresh>35</hueThresh>     <!-- higher => more noise/sensitivity -->
	<robotWidth>25</robotWidth>   <!-- lower => we can squeeze through more -->
	<doTransform>01</doTransform> <!-- 1 => use graphics card transformations -->
	<doAdaptive>01</doAdaptive>   <!-- 1 => use use roi box to drive on colors inside it -->
	<maxDiff>35</maxDiff>         <!-- lower => more noise in thresh image -->
	<boxPadding>95</boxPadding>   <!-- lower => wider box -->

	<!-- Robot Misc Settings -->
	<_k>0.25</_k>                       <!-- lower => more smooth motor cotrol (averages new motor commands) -->
    <defaultView>03</defaultView>       <!-- gui slider bar starting value -->
    <motorsMaxSpeed>55</motorsMaxSpeed> <!-- max motor output [0-255] -->

    <!-- Mapping Settings -->
    <maxFeatures>70</maxFeatures>           <!-- max number for feature corners to find -->
    <numFramesBack>02</numFramesBack>       <!-- frames between matching points/features ( >=2 )-->
    <maxFeatureShift>21</maxFeatureShift>   <!-- max allowed feature point movement (in pixels) -->

    <!-- ON/OFF -->
    <doMapping>01</doMapping>
    <useMotors>00</useMotors>
    <doVision>001</doVision>


    <!--
	<></>
	<></>
	-->
    <!-- Comment -->
    <!--  -->

</Config>
