<?xml version="1.0"?>

<robot name="Swervi" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- constants -->
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- geometry params -->
    <xacro:property name="wheel_radius" value="0.1375" />
    <xacro:property name="wheel_width" value="0.04826" />
    <xacro:property name="wheel_mass" value="4.4" />
    <xacro:property name="wheel_Ixx_Iyy" value="0.00942" />
    <xacro:property name="wheel_Izz" value="0.0182"/>
    <xacro:property name="wheel_damping" value="0.001"/>
    <xacro:property name="wheel_friction" value="0.5"/>

    <xacro:property name="swivel_height" value="0.17272"/>
    <xacro:property name="swivel_radius" value="0.1" />
    <xacro:property name="swivel_mass" value="1" />
    <xacro:property name="swivel_Ixx" value="0.4" />
    <xacro:property name="swivel_Iyy" value="0.4" />
    <xacro:property name="swivel_Izz" value="0.2" />
    <xacro:property name="swivel_damping" value="0.001"/>
    <xacro:property name="swivel_friction" value="0.5"/>
    <xacro:property name="wheel_swivel_offset" value="0.02" />

    <!-- wheel acuator limits -->
    <xacro:property name="max_torque_hub" value="23.76"/>
    <xacro:property name="max_vel_hub" value="22.2"/>
    <xacro:property name="max_torque_swivel" value="37.5"/>
    <xacro:property name="max_vel_swivel" value="59.44"/>

    <!-- drive shock params-->
    <!-- how far the drive wheel shock can move (m)-->
    <xacro:property name="drive_wheel_travel" value="0.01"/>
    <xacro:property name="drive_shock_eff_limit" value="500.0"/>
    <xacro:property name="drive_shock_vel_limit" value="0.1"/>
    <xacro:property name="drive_shock_damping" value="100"/>
    <xacro:property name="drive_shock_friction" value="1.0"/>
    <xacro:property name="drive_spring_stiffness" value="113832.44275"/>
    <xacro:property name="drive_shock_spring_ref" value="0.00"/>
    
    <!-- chassis params-->
    <xacro:property name="chassis_com_z" value="0.29"/>
    <xacro:property name="wheel_offset_x" value="0.362"/>
    <xacro:property name="chassis_mass" value="20" />
    <xacro:property name="chassis_Ixx" value="5" />
    <xacro:property name="chassis_Iyy" value="5" />
    <xacro:property name="chassis_Izz" value="5" />
    <xacro:property name="wheel_offset_y" value="0.188"/>
    <xacro:property name="chassis_offset_z" value="0.318"/>

    <!-- Lidar -->
    <xacro:property name="lidar_pitch" value="0.0"/>
    <xacro:property name="lidar_x" value="0.127"/>
    <xacro:property name="lidar_z" value="0.8486"/>
    <xacro:property name="lidar_hz" value="10"/>
    <xacro:property name="lidar_samples" value="500"/>
    <xacro:property name="lidar_support_x_dim" value="0.2"/>
    <xacro:property name="lidar_support_y_dim" value="0.08"/>
    <xacro:property name="lidar_support_z_dim" value="0.01"/>

    <!-- gives small geometry so it show up in rviz -->
    <xacro:macro name="null_link">
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </xacro:macro>

</robot>