<?xml version="1.0"?>

<model>
  <name>IARRC Circuit Track</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Matthew Barulic</name>
    <email>matthew.barulic@gmail.com</email>
  </author>

  <description>
    A simple ground plane textured with the IARRC Circuit track layout.
  </description>
</model>