
# Desc: Player sample configuration file for controlling a Segway RMP
# Date: 14 Jul 2003
# CVS: $Id: segwayrmp.cfg,v 1.11 2004/11/12 06:07:58 gerkey Exp $

driver 
(
  name "segwayrmp"  
  provides ["position:0" "position3d:0" "power:0"]
  canio "kvaser" 
  max_xspeed 1.5
  max_yawspeed 80
)

