<!-- igvc.launch -->
<!--
    This file will launch all launch files necessary to run the robot in
    a competition run.
    -->
<launch>
    <!-- sensors -->
    <include file="$(find igvc_perception)/launch/sensors.launch" />

    <!-- center line detector -->
    <!-- file does not exist -->
    <include file="$(find igvc)/launch/line_detector.launch">
        <arg name="camera" value="center" />
    </include>

    <!-- pot hole detector -->
    <!-- file does not exist -->
    <include file="$(find igvc)/launch/pothole_detector.launch" />

    <!-- mapper -->
    <include file="$(find igvc_navigation)/launch/mapper.launch" />

    <!-- pather -->
    <include file="$(find igvc_navigation)/launch/pather.launch" />

    <!-- not included yet are odometer.launch, localization.launch, side
         cameras, side linedetectors. They are not currently required -->

</launch>
