<!-- imu.launch -->
<launch>
    <node name="imu" pkg="igvc_platform" type="imu" output="screen" />
        <!-- Matrix to put IMU in same coordinate system as the robot. -->
        <rosparam param="imu_orientation_correction">[1, 0, 0,
                                                0, -1, 0,
                                                0, 0, -1]</rosparam>

        <!-- Yaw offset for making yaw relative to East. -->
        <param name="yaw_offset" type="double" value="1.57079632679" />

        <!-- Threshold to trigger warning for deviation between filtered heading and magnetometer heading -->
        <param name="heading_dev_thresh_deg" type="double" value="10" />
</launch>
