<launch>
    <arg name="calibrate_imu" default="false"/>
    <!-- Bottom IMU -->
    <node pkg="igvc_platform" name="imu_bottom" type="imu" output="screen" required="true">
        <param name="SERIAL_PORT" type="string" value="/dev/imu_bottom" />
        <param name="frame_id" type="string" value="imu"/>
        <param name="calibrate_imu" value="$(arg calibrate_imu)" />
        <!-- π/2 rad. rotation about the x axis -->
        <rosparam param="imu_orientation_correction">[1,  0, 0,
                                                      0, -1, 0,
                                                      0,  0, -1]</rosparam>
    </node>
</launch>
