<!-- igvc.launch -->
<!--
    This file will launch the default node configuration for
    a competition run. All sensors, hardware-interface, and generic state nodes are launched here.
    -->
<launch>
    <!-- TF -->
    <include file="$(find igvc_description)/launch/robot_state_publisher.launch" />

    <!-- MOTOR CONTROLLER -->
    <include file="$(find igvc_platform)/launch/motor_controller.launch" />

    <!-- GPS -->
    <include file="$(find igvc_platform)/launch/gps.launch" />

    <!-- LEFT, MIDDLE, & RIGHT CAMERAS (Logitech C920) -->
    <include file="$(find igvc_platform)/launch/camera.launch">
        <arg name="camera" value="[left,center,right]" />
    </include>

    <!-- LIDAR -->
    <include file="$(find igvc_platform)/launch/velodyne_lidar.launch" />

    <!-- Bottom IMU -->
    <include file="$(find igvc_platform)/launch/imu_bottom.launch" >
        <arg name="calibrate_imu" value="false"/>
    </include>

    <!-- Top IMU -->
    <include file="$(find igvc_platform)/launch/imu_top.launch" >
        <arg name="calibrate_imu" value="false"/>
    </include>

    <!-- System Stats -->
    <include file="$(find igvc_utils)/launch/system_stats.launch" />

    <node pkg="diagnostic_aggregator" type="aggregator_node"
          name="diagnostic_aggregator" required="true" >
        <!-- Load the file you made above -->
        <rosparam command="load"
                  file="$(find igvc_platform)/config/analyzers.yaml" />
    </node>

    <node pkg="rqt_robot_monitor" name="robot_monitor" type="rqt_robot_monitor" required="true" />

</launch>
