<!-- swerve_joystick_driver.launch -->
<!--
    This file launches the joy node and a custom
    interpreter node that maps joystick inputs
    to swerve drive robot actions.
    Use this file to start remote control of the
    robot.
    -->
<launch>
    <!-- Joystick node -->
    <node name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="false">
        <param name="dev" type="str" value="/dev/igvc_joystick"/>
    </node>
    <node name="swerve_joystick_driver" pkg="igvc_platform" type="swerve_joystick_driver" output="screen" respawn="false">
        <param name="absoluteMaxVel" type="double" value="2.0"/>
        <param name="maxVel" type="double" value="1.6"/>
        <param name="maxAngle" type="double" value="1.57"/>
        <param name="maxVelIncr" type="double" value="0.1"/>

        <param name="stickLeft_UDAxis" type="int" value="1"/>
        <param name="stickRight_UDAxis" type="int" value="4"/>
        <param name="stickLeft_LRAxis" type="int" value="0"/>
        <param name="stickRight_LRAxis" type="int" value="3"/>
        
        <param name="leftUDInverted" type="bool" value="false"/>
        <param name="rightUDInverted" type="bool" value="false"/>
        <param name="leftLRInverted" type="bool" value="false"/>
        <param name="rightLRInverted" type="bool" value="false"/>
    </node>
</launch>
