<?xml version="1.0"?>

<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find igvc_description)"/>
  <arg name="namespace" default="igvc"/>
  <arg name="world_name" default="$(find igvc_description)/urdf/igvc.world"/>
  <arg name="cmd_timeout" default="0.5"/>

  <!-- Vehicle pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0"/>

  <!-- Remap to same topics as the actual robot -->
  <remap from="/$(arg namespace)/usb_cam_center" to="/usb_cam_center" />
  <remap from="/$(arg namespace)/usb_cam_right" to="/usb_cam_right" />
  <remap from="/$(arg namespace)/usb_cam_left" to="/usb_cam_left" />
  <remap from="/$(arg namespace)/imu" to="/imu" />
  <!--<remap from="/$(arg namespace)/odom" to="/odom" />-->
  <remap from="/$(arg namespace)/fix" to="/fix" />



  <group ns="$(arg namespace)">
    <node name="spawn_platform_script" pkg="igvc_control" type="spawn_jaymii.sh" />

    <node name="waypoint_source" pkg="igvc" type="waypoint_source" output="screen" >
        <param name="file" value="$(find igvc_control)/config/waypoints.csv" />
    </node>

    <!-- Create the world. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>

    <!-- needed for rviz -->
    <param name="robot_description" command="cat $(find igvc_description)/urdf/Jaymii.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- convert laser scan to point cloud for LIDAR -->
    <node name="scan_to_pointcloud" pkg="igvc_control" type="scan_to_pointcloud" output="screen" >
      <param name="min_dist" value="0.1"/>
      <param name="neighbor_dist" value="0.2"/>
    </node>
  </group>
  <include file="$(find igvc)/launch/filter_lidar.launch" />
  <include file="$(find igvc_control)/launch/igvc_control.launch" />
</launch>
