<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find igvc_control)/config/igvc_joint_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/igvc" args="left_wheel_effort_controller right_wheel_effort_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!--<param name="robot_description" command="cat $(find igvc_description)/urdf/Jaymii.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>-->

</launch>