<!-- vision.launch -->
<!-- This file launches a vision node that uses a CNN to detect lines. -->

<launch>

    <node name="cnn_right" pkg="igvc_perception" type="cnn.py" output="screen" >
          <rosparam param="camera_names">["usb_cam_right"]</rosparam>

          <!-- These sizes must match the model input dimensions. -->
          <param name="image_resize_width" value="400" />
          <param name="image_resize_height" value="400" />

          <!-- Use a pre-existic segmented image such as an output segmentation from a different node.
               If true, the "segmented_image_topics" rosparam must be set with one topic for each camera -->
          <rosparam param="segmented_image_topics">["/right_cam/detected_lines"]</rosparam>
    </node>

</launch>
