<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mypackage.FriendViewer"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FriendViewer"
                  android:label="@string/app_name"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name="FriendMap" android:label="@string/app_name"
     			  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <receiver android:name="FriendReceiver">
			<intent-filter>
				<action android:name="android.intent.action.VIEW_FRIENDS" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
        
	    <uses-library android:name="com.google.android.maps" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>