SUBSYSTEM == "tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303",ATTRS{bcdDevice}=="0202", NAME:="ttyGPS"
SUBSYSTEM == "tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303",ATTRS{bcdDevice}=="0300", NAME:="ttyIMU"


